.trip {
  position: relative;
  margin: 0 auto;
  max-width: 1262px;
  margin-bottom: 131px;
}
  
.trip__caption {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}
  
.trip__title {
  margin-right: 15px;
}
  
.trip__view-all {
  text-decoration: none;
  font-size: 16px;
  color: #006DFE;
  padding-right: 59px;
  background: url(/public/img//svg/arrow-right.svg) no-repeat right center;
  transition: all 0.2s;
}
  
.trip__view-all:hover, .trip__view-allfocus {
  opacity: 0.7;
}

.trip__cards {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
  gap: 10px;
}

  