.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.2s linear;
  padding-bottom: 20px;
  z-index: 10;
    /* text-align: center;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items:flex-end;
    justify-content: space-around;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    padding-bottom: 20px;
    padding-top: 3%;
    z-index: 10;
    /* background: rgba(14, 29, 40, 0.9); */
    /* max-width: 1060px; */
 
}

.header__active {
    background: rgba(14, 29, 40, 0.9);
  }

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items:flex-end;
    justify-content: space-between;
    padding-top: 3%;
}

.navbar{
}

.nav__list{
  display: flex;
  flex-wrap: wrap;
}

.nav__item{
  margin-right: 82px;
}
.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
  }

  .nav__link:hover, .nav__link:focus, .nav__link:active {
    opacity: 0.75;
  }
