.slider{
    max-width: 400px; /* максимальная ширина контейнера */
    margin: auto; /* центрирование контейнера на странице */
    background-color: lightsteelblue; /* фон */
    padding: 10px; /* внутренние отступы */
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;

}